h1.church {
    text-align: center;
    font-family: fantasy;
    color: floralwhite;
}

div.div1 {
    text-align: center;
}

p.has-text-align-center {
    text-align: center;
    color: floralwhite;

}

h3.heading3 {
    text-align: center;
    font-size: 25px;
    color: floralwhite;
}

p.obj {
    color: floralwhite;
    text-align: center;
}

div.container {
    background:

}

.active {
    color:
}
