.container {
    margin: auto;
    background-color: lightcoral;
    height: 400px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: black;
}

caption {
    color: aliceblue;
}

div,
p {
    text-align: center;
    color: black;
}

table,
th,
td {
    color: white;
    margin: auto;
    background: white;
    color: black;
    width: 400px;
    height: 10px;
    text-align: left;
    border: 4px solid red;
    border-collapse: collapse;

}

th,
td {
    padding: 5px;
