body {
    background: black;
}

h1.c {
    color: indianred;
    margin: auto;
    height: 100px;
    width: 300px;

}

div.p1 {
    margin: auto;
    height: 50px;
    width: 700px;
    color: indianred;
    text-align: center;
}

h4.h4 {
    text-align: center;
    color: indianred
}

    {
    text-align: center;

}
